
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

.container{
     display: flex;
     height: 80vh;
}

#container_immagine_grande{
     width: 80%;
     background-color: beige;
}

.container_immagini_piccole{
     height: 80vh;
     width: 20%;
     background-color: blueviolet;
}

.fas{
     text-align: center;
     width: 100%;
}

.fa-chevron-circle-up{
     margin: 50px 0;    
}

.fa-chevron-circle-down{
     margin: 50px 0;  
}

.immagine_principale{
     background-size: cover;
     height: 100%;
}


.immagini_carosello{
     height: calc(100% / 5);
     background-position: center ;
}

#immagine_01{
     background-image: url("../img/01.jpg");
}

#immagine_02{
     background-image: url("../img/02.jpg");
}

#immagine_03{
     background-image: url("../img/03.jpg");
}

#immagine_04{
     background-image: url("../img/04.jpg");
}

#immagine_05{
     background-image: url("../img/05.jpg");
}






