
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

.container{
     display: flex;
     height: 500px;
     width: 1200px;
     
}

#container_immagine_grande{
     width: 80%;
     background-color: beige;
}

.container_immagini_piccole{
     width: 20%;
     background-color: blueviolet;
     position: relative;
}

.fas{
     text-align: center;
     width: 100%;
}

.fa-chevron-circle-up{
       
}

.fa-chevron-circle-down{
      
}

.immagine_principale{
     background-size:cover;
     background-repeat: no-repeat;
     height: 100%;
     background-position: center ;
     position: relative;
     
}


.descrizione_immagine{
     position: absolute;
     right: 0;
     bottom: 0;
     text-align: end;
     padding: 2rem;
     color: white;
}

.immagini_carosello{
     height: calc(100% / 5);
     background-position: center ;
     filter: brightness(0.55);
     
}

#illuminata{
     filter: brightness(1) ;
}

#su{
     position: absolute;
     top: 5%;
     left: 50%;
     z-index: 1;
}

#giù{
     position: absolute;
     bottom: 5%;
     left: 50%;
     z-index: 1;

}
